<html>
    <head>
        <title>  Avi's blog </title>
    </head>
    <body>
        <div>
           <h1><a href="">Avi's Blog</a></h1>
        </div>

        <div>
           <p>published: 14.06.2015, 12:14</p>
           </h2><a href="">My first post</a></h2>
           <p>Aenean eu leo quam. Pellentesque ornare sem lacina</p>
        </div>

        <div>
           <p>published: 14.06.2015, 12:14</p>
           </h2><a href="">My second post</a></h2>
           <p>This is my second post in the series</p>
        </div>
    </body>
</html>
